
appespacioadmin/node_modules/.cache/default-development/0.pack
appespacioadmin/node_modules/.cache/default-development/1.pack
appespacioadmin/node_modules/.cache/default-development/index.pack
appespacioadmin/node_modules/.cache/default-development/index.pack.old
/appespacioadmin/node_modules/.cache
