* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Share-TechMono', sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url('https://r4.wallpaperflare.com/wallpaper/314/778/449/1920x1080-px-los-angeles-anime-sailor-moon-hd-art-wallpaper-9930f80dc18a4d2be6a7787f5071c69d.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    padding: 20px;
    background-color: #352D29;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img {
    width: 50px;
    height: auto;
}

.welcome-message {
    text-align: center;
    color: #F5F5DC; /* Bone white */
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn {
    background-color: transparent;
    color: #F5F5DC; /* Bone white */
    padding: 15px 30px;
    font-size: 20px;
    border: 2px solid #F5F5DC;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn i {
    font-size: 24px;
}

.btn:hover {
    background-color: #F5F5DC;
    color: #352D29;
}

.footer {
    width: 100%;
    padding: 20px;
    background-color: #352D29;
    color: #F5F5DC; /* Bone white */
    text-align: center;
    position: relative;
}