/* authStyles.css */

body {
    font-family: 'Share-TechMono', sans-serif;
    background-image: url('https://r4.wallpaperflare.com/wallpaper/314/778/449/1920x1080-px-los-angeles-anime-sailor-moon-hd-art-wallpaper-9930f80dc18a4d2be6a7787f5071c69d.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
}

/* Header */
.header-container {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.header-logo {
    width: 75px;
    height: auto;
}

/* Card */
.card {
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.card-body {
    color: #000;
    padding: 20px;
}

/* Buttons */
button {
    background-color: rgba(0, 123, 255, 0.1);
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(0, 123, 255, 0.2);
}

/* Footer */
footer {
    margin-top: auto;
    background-color: #434A54;
    color: #FFF;
    padding: 10px 0;
    text-align: center;
}

.container {
    flex: 1;
}