body {
    font-family: 'Share-TechMono', sans-serif;
    background-image: url('https://r4.wallpaperflare.com/wallpaper/314/778/449/1920x1080-px-los-angeles-anime-sailor-moon-hd-art-wallpaper-9930f8dc18a4d2be6a7787f5071c69d.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    background-color: #000000;
}

.header-container {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.header-logo {
    width: auto;
    height: auto;
}

.logout-button {
    margin-left: auto;
}

.form-control {
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.form-select {
    background-color: black !important;
    color: white !important;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.btn-primary {
    background-color: #ff6600;
    border: none;
}

.btn-primary:hover {
    background-color: #e0671d;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
}

.btn-danger:hover {
    background-color: #c82333;
}

.btn-success {
    background-color: #FF6400;
    border: none;
}
.btn-success:hover {
    background-color: #e65a00;
}

footer {
    background-color: rgba(255, 255, 255, 0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

::placeholder {
    color: white !important;
    opacity: 1;
}

.card {
    background-color: #352D29;
    border: none;
    
}
.card-header {
    background-color: #FF6400;
    padding-top: 15px;
}