body {
    background-image: url('https://r4.wallpaperflare.com/wallpaper/314/778/449/1920x1080-px-los-angeles-anime-sailor-moon-hd-art-wallpaper-9930f0a9e4d2be6a7787f5071c69d.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
}

.card {
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card-header {
    color: #F5F5DC !important;
}

.btn-primary {
    width: 100%;
}

.form-select {
    color: #F5F5DC;
}