body {
    font-family: 'Share-TechMono', sans-serif;
    background-color: #000000; /* Black background */
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: #434A54; /* Dark gray */
    border-bottom: 1px solid #FFFFFF;
    color: #F5F5DC; /* Bone white */
}

.card {
    background-color: rgba(255, 255, 255, 0.05); /* Slightly transparent white */
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card-header {
    background-color: rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: #F5F5DC; /* Bone white */
}

.card-body {
    padding: 20px;
    color: #F5F5DC; /* Bone white */
}

.btn-primary {
    background-color: #ff6600; /* Orange */
    border: none;
    color: white;
    width: 100%;
}

.btn-primary:hover {
    background-color: #e0671d;
}

.form-select {
    background-color: white !important;
    color: black !important;
    border: 1px solid rgba(255, 255, 255, 0.1);

}

/* New styles for the footer */
footer {
    background-color: #434A54; /* Dark gray */
    border-top: 1px solid #FFFFFF;
    color: #F5F5DC; /* Bone white */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

/* Force scrollbars if needed */
* {
    scrollbar-width: thin;
    scrollbar-color: #ffffff #000000;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #000000;
}

*::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 20px;
    border: 3px solid #000000;
}


#bookingResult {
    width: 100%;
    min-height: 100px;
    max-height: 200px;
    overflow-y: auto;
    resize: vertical;
    padding: 10px;
    font-family: 'Share-TechMono', sans-serif;
    color: #F5F5DC; /* Bone white */
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}
